@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model OrderListViewModel

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Статус: </label>
        <select name="status" asp-items="Model.Statuses" asp-for="CurrentStatus" class="form-control"></select>

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

@foreach (var item in Model.Orders)
{
    <div style="width: 200px; display: flex; justify-content: space-between">
        <div>@item.Creation</div>
        <div>@item.Number</div>
        <div>@item.Status</div>
        @*<div>@item.Description</div>*@
        <div>
            <a asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">
                Edit
            </a>
        </div>
    </div>

    @*<p>@item.Name</p>
        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">
            Details
        </a>*@


}


