@model ProductListViewModel

@{
    ViewData["Title"] = "";
}

<h1>@Model.Name</h1>

@if (Model.Products.Any())
{
    <table>
        <thead>
            <tr>
                <th>Weight</th>
                <th>Diameter</th>
                <th>Kind</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Weight</td>
                    <td>@product.Diameter</td>
                    <td>@product.Kind</td>
                    <td>@product.Price</td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button data-cart-id="@product.Id">to cart</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script type="module" src="~/js/cart/add.js" asp-append-version="true"></script>
}
