@model OrderListViewModel

@{
    ViewData["Title"] = "";
}

<h1>All orders</h1>

<form method="get">
    <div>
        <label>Phone: </label>
        <input name="phone" value="@ViewBag.Phone" />
        <label>Status: </label>
        <select name="status" asp-items="ViewBag.Statuses" asp-for="CurrentStatus"></select>
        <input type="submit" value="Filter" />
    </div>
</form>

<br />

@{
    if (Model.Orders.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Phone</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Creation</th>
                    <th>In place</th>
                    <th>Address</th>
                    <th>Promo code</th>
                    <th>Payment</th>
                    <th>Total price</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.Number</td>
                            <td>@order.Phone</td>
                            <td>@order.Name</td>
                            <td>@order.Status</td>
                            <td>@order.Creation</td>
                            <td>@order.InPlace</td>
                            <td>@order.Address</td>
                            <td>@order.PromoCode</td>
                            <td>@order.Payment</td>
                            <td>@order.TotalPrice</td>
                            <td>@order.Comment</td>
                            <td>
                                <a asp-controller="Order" asp-action="Edit" asp-route-id="@order.Id">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No orders found.</p>
    }
}
