@model CartIndexViewModel

@{
    ViewData["Title"] = "";
}

<h1>Cart</h1>

@{
    if (Model.Products.Any())
    {
        <table id="cartItems">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Diameter</th>
                    <th>Kind</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var product in Model.Products)
                    {
                        <tr class="productInCart">
                            <td>@product.Name</td>
                            <td>@product.Weight</td>
                            <td>@product.Diameter</td>
                            <td>@product.Kind</td>
                            <td class="productPrice">@product.Price</td>
                            <td>
                                <button data-cart-id="@product.Id">Remove from cart</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <br />

        <div>
            <button id="totalPriceButton">Get total price</button>
            <button id="promoCodeButton">Apply promo code</button>
        </div>

        <br />

        <partial name="~/Views/Order/_Form.cshtml" model="Model.OrderViewModel" />
    }
    else
    {
        <p>Cart is empty.</p>
    }
}

@section scripts
{
    <script type="module" src="~/js/cart/remove.js" asp-append-version="true"></script>
    <script src="~/js/order/confirm.js" asp-append-version="true"></script>
    <script src="~/js/order/totalPrice.js" asp-append-version="true"></script>
    <script type="module" src="~/js/order/promoCode.js" asp-append-version="true"></script>
}
