@model List<Masny.Food.Data.Models.Order>
@*Cart: @Model.Count*@

<h1>Pizza here</h1>

@foreach (var item in Model)
{
    <div style="width: 200px; display: flex; justify-content: space-between">
        <div>@item.Creation</div>
        <div>@item.Number</div>
        <div>@item.Status</div>
        @*<div>@item.Description</div>*@
        <div>
            <a asp-controller="Order" asp-action="Detail" asp-route-id="@item.Id">
                Details
            </a>
        </div>
    </div>

    @*<p>@item.Name</p>
        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">
            Details
        </a>*@


}